/*@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'),
         local('Roboto-Regular'),
         url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
         format('woff');
}*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic);
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', 'sans-serif'
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 15px;
}
span{
    font-size: 15px;
}


/*header*/
header{
    width: 100%;
    height: 148px;
}
.header_top{
    width: 100%;
    height:42px;
    background-color: #04142b;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.container ul li{
    display: inline-block;
    line-height: 42px;
}
.container ul li:nth-child(1){
    width: 25%;
}
.container ul li:nth-child(2){
    width: 30%;
}
.container ul li:nth-child(3){
    width: 15%;
}
.container ul li:nth-child(4){
    float: right;
    width: 23%;
}
.container ul li span{
    color: #fff;
    font-size: 13px;
}
.container ul li span .c8bba1{
    color: #c8bba1;
}
[class^="flaticon-"]{
    color: #fff;
}
.flaticon-location:before,
.flaticon-clock:before,
.flaticon-technology:before{
    font-size: 15px;
    color: #c8bba1;
    margin-left: 0;
    margin-right: 8px;
}

/*serch 버튼*/
.search{
    max-width: 260px;
    height: 42px;
    line-height: 42px;
    background-color: #c8bba1;
}
.search form{
    position: relative;
    top: -2px;
    padding-left: 20px;
}
.search fieldset{
    padding: 0;
    margin: 0;
    border: 0;
}
.search input[type="search"]{
    border: 0;
    background-color: #c8bba1;
    color: #fff;
    max-width: 180px;
    height: 37px;
    font-size: 15px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.search input[type="submit"]{
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-color: #c8bba1;
    background-image: url('../images/search-white.png');
    border: none;
    cursor: pointer;
}


/*nav*/
.nav_cont{
    width: 100%;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    max-width: 1170px;
    height: 106px;
    margin: 0 auto;
}
nav .logo{
    position: absolute;
    top: 30px;
    left: 25px;
    width: 135px;
    height: 46px;
    background-image: url('../images/logo.png');
    font-size: 0;
    text-indent: -9999px;
}
nav > ul{
    float: right;
}
nav ul li{
    float: left;
}
nav ul li .menu{
    display: block;
    margin: 0 20px;
    padding: 0 10px;
    height: 106px;
    line-height: 106px;
    font-size: 14px;
    font-weight: 700;
    color: #04142b;
}
nav ul li:first-child .menu{
    color: #c8bba1;
}
nav ul li .menu:hover{
    color: #c8bba1;
}


/*서브메뉴*/
.none{
    display: none;
}
[class^="sub_"]{
    position: absolute;
    top:106px;
    z-index: 1;
}
[class^="sub_"] li{
    position: relative;
    top: 0;
    float: none;
    width: 188px;
    background-color: #04142b;
    border-left: 1px #2b3542 solid;
    border-right: 1px #2b3542 solid;
    border-bottom: 1px #2b3542 solid;
}
[class^="sub_"] li:first-child{
    border-top: 2px #c8bba1 solid;
}
[class^="sub_"] li a{
    display: block;
    width: 173px;
    height: 46px;
    line-height: 46px;
    padding-left: 15px;
    color: #fff;
}
[class^="sub_"] li a::before{
    content: "";
    position: relative;
    top: -2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 15px;
    border: 1px #2b3542 solid;
}
.menu_arrow{
    position: absolute;
    top: 18px;
    right: 15px;
    display: inline-block;
    width: 5px;
    height: 10px;
    background-image: url('../images/menu_arrow.png');
}
[class^="sub_"] > li:hover{
    border-bottom: 1px #c8bba1 solid;
}
[class^="sub_"] > li a:hover{
    color: #c8bba1;
}
.depth3{
    position: absolute;
    top: -2px;
    left: 188px;
}
.sub_page{
    left: 595px;
}
.sub_projects{
    left: 700px;
}
.sub_news{
    left: 830px;
}
.sub_shortcodes{
    left: 0px;
    width: 1174px;
}
.sub_shortcodes li{
    float: left;
    width: 292px;
    margin-left: -1px;
}
.sub_shortcodes li:nth-child(2),
.sub_shortcodes li:nth-child(3),
.sub_shortcodes li:nth-child(4){
    border-top: 2px #c8bba1 solid;
}


/*메인 이미지*/
section{
    width: 100%;
}
.main_slide{
    position: relative;
    top: 0;
}
[class^="main_img"]{
    position: relative;
    width: 100%;
    height: 680px;
    background-size: cover;
    background-position: center 0;
    border: 1px #f00 solid;
}
.main_img_bg{
    position: absolute;
    top: 0;
    background-color: rgba(4, 20, 43, 0.75);
    z-index: 10;
}
.main_img1{
    background-image: url('../images/bg-slide-1.jpg');
}








//////////////////////////////////////////////////////////
