@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic);
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', 'sans-serif'
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 15px;
}
span{
    font-size: 15px;
}


/*header*/
header{
    width: 100%;
    height: 148px;
}
.header_top{
    width: 100%;
    height:42px;
    background-color: #04142b;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.container ul li{
    display: inline-block;
    line-height: 42px;
}
.container ul li:nth-child(1){
    width: 25%;
}
.container ul li:nth-child(2){
    width: 30%;
}
.container ul li:nth-child(3){
    width: 15%;
}
.container ul li:nth-child(4){
    float: right;
    width: 23%;
}
.container ul li span{
    color: #fff;
    font-size: 13px;
}
.container ul li span .c8bba1{
    color: #c8bba1;
}
[class^="flaticon-"]{
    color: #fff;
}
.flaticon-location:before,
.flaticon-clock:before,
.flaticon-technology:before{
    font-size: 15px;
    color: #c8bba1;
    margin-left: 0;
    margin-right: 8px;
}

/*serch 버튼*/
.search{
    max-width: 260px;
    height: 42px;
    line-height: 42px;
    background-color: #c8bba1;
}
.search form{
    position: relative;
    top: -2px;
    padding-left: 20px;
}
.search fieldset{
    padding: 0;
    margin: 0;
    border: 0;
}
.search input[type="search"]{
    border: 0;
    background-color: #c8bba1;
    color: #fff;
    max-width: 180px;
    height: 37px;
    font-size: 15px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.search input[type="submit"]{
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-color: #c8bba1;
    background-image: url('../images/search-white.png');
    border: none;
    cursor: pointer;
}


/*nav*/
.nav_cont{
    width: 100%;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    max-width: 1170px;
    height: 106px;
    margin: 0 auto;
}
nav .logo a{
    position: absolute;
    top: 30px;
    left: 25px;
    width: 135px;
    height: 46px;
}
nav > ul{
    float: right;
}
nav .menu{
    float: left;
    position: relative;
    top: 0;
    left: 0;
}
nav .menu [class^="menu_"]{
    display: block;
    height: 106px;
    line-height: 106px;
    margin: 0 20px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
    color: #04142b;
    transition: color 0.3s;
}
nav .menu [class^="menu_"]:hover{
    color: #c8bba1;
}
nav .menu .menu_home{
    color: #c8bba1;
    transition: none;
}


/*서브메뉴*/
.none{
    display: none;
}
[class^="sub_"]{
    position: absolute;
    top:106px;
    left: 30px;
    z-index: 10;
}
[class^="sub_"] li{
    position: relative;
    top: 0;
    float: none;
    width: 188px;
    background-color: #04142b;
    border-left: 1px #2b3542 solid;
    border-right: 1px #2b3542 solid;
    border-bottom: 1px #2b3542 solid;
    transition: border-bottom 0.3s;
}
[class^="sub_"] li:first-child{
    border-top: 2px #c8bba1 solid;
}
[class^="sub_"] li a{
    display: block;
    width: 173px;
    height: 46px;
    line-height: 46px;
    padding-left: 15px;
    color: #fff;
    transition: color 0.5s;
}
[class^="sub_"] li a::before{
    content: "";
    position: relative;
    top: -2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 15px;
    border: 1px #2b3542 solid;
}
.sub_arrow{
    position: absolute;
    top: 18px;
    left: 165px;
    display: inline-block;
    width: 5px;
    height: 10px;
    background-image: url('../images/menu_arrow.png');
}
[class^="sub_"] li:hover{
    border-bottom: 1px #c8bba1 solid;
}
[class^="sub_"] li a:hover{
    color: #c8bba1;
}
.depth3{
    position: absolute;
    top: -2px;
    left: 188px;
}
.sub_shortcodes{
    position: absolute;
    left: -1030px;
    width: 1176px;
}
.sub_shortcodes li{
    float: left;
    width: 292px;
    margin-left: -1px;
}
.sub_shortcodes li:nth-child(2),
.sub_shortcodes li:nth-child(3),
.sub_shortcodes li:nth-child(4){
    border-top: 2px #c8bba1 solid;
}


/*메인 이미지*/
section{
    width: 100%;
}
.main_slide{
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    max-height: 680px;
    overflow: hidden;
}
[class^="main_img"]{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}
.main_img1{
    background-image: url('../images/bg-slide-1.jpg');
}
.main_img2{
    background-image: url('../images/bg-slide-2.jpg');
}
.main_img3{
    background-image: url('../images/bg-slide-3.jpg');
}
.main_img_bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 20, 43, 0.75);
    z-index: 1;
}


/*메인 이미지 위치 버튼*/
.img_num{
    position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    z-index: 5;
}
.img_num > a{
    display: inline-block;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    font-size: 0;
    border: 1px #c8bba1 solid;
}
.img_num > a:hover{
    border: 2px #c8bba1 solid;
}
.img_num .num_on{
    border: 2px #c8bba1 solid;
}


/*메인 이미지 버튼*/
[class^="main_bt_"]{
    position: absolute;
    top: 50%;
    margin-top: -23px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}
.main_bt_prev{
    left: 20px;
}
.main_bt_next{
    right: 20px;
}
[class^="main_bt_"] a{
    display: block;
    width: 45px;
    height: 45px;
    border: 2px #c8bba1 solid;
    transition: background-color 0.5s;
}
[class^="main_bt_"] a:hover{
    border: 2px #000 solid;
    background-color: #000;
}
[class^="main_bt_"] a img{
    position: absolute;
    top: 18px;
    left: 20px;
}


/*메인 이미지 1*/
[class^="slide_"]{
    position: relative;
    z-index: 3;
}
.slide_1{
    left: 53%;
}
.slide_1_line{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -58px;
    margin-left: -418px;
    width: 800px;
    height: 110px;
    border: 8px #c8bba1 solid;
    z-index: 1;
}
.slide_1_title{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -380px;
    margin-top: -48px;
    width: 760px;
    height: 100px;
    font-size: 87px;
    font-weight: 500;
    color: #fff;
}
.slide_1_title cite{
    text-shadow: -2px -2px 24px rgba(0, 0, 0, 0.54);
    font-style: normal;
}
.slide_1_title .slide_1_sub{
    display: block;
    text-align: center;
    font-size: 35px;
    margin-top: -25%
}
.slide_1_title .slide_1_sub2{
    position: absolute;
    bottom: -37px;
    right: 80px;
    display: block;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 700;
    background-color: #04142b;
}
.slide_1_title .slide_1_sub2 .c8bba1{
    color: #c8bba1;
    font-size: 18px;
    font-weight: 700;
}
















/*메인 배너*/
.main_banner{
    max-width: 1170px;
    margin: 100px auto;
    overflow: hidden;
}
.main_banner ul{
    margin: 0 auto;
}
.main_banner ul li{
    position: relative;
    float: left;
    width: 33.333333%;
    max-width: 360px;
    max-height: 262px;
    overflow: hidden;
    margin: 0 15px;
}
.main_banner ul li:first-child{
    padding-left: 0;
}
.main_banner ul li:last-child{
    padding-right: 0;
}
.main_banner ul li img{
    width: 100%;
}
.main_banner ul li .pop_bt{
    position: absolute;
    bottom: 0;
    display: block;
    width:100%;
    padding-left: 30px;
    height: 53px;
    line-height: 55px;
    color: #fff;
    font-weight: 700;
    background-color: rgba(4, 20, 43, 0.9);
    transition: background 0.3s;
}
.main_banner ul li .pop_bt:hover{
    background-color: #c8bba1;
}


/*메인 배너 팝업*/
.banner_pop{
    position: absolute;
    top: 0px;
    width: 360px;
    height: 262px;
    background-color: rgba(4, 20, 43, 0.9);
}
/*.banner_pop:target{
    animation: open 1s;
}
#op_cl:target + .banner_pop{
    animation: close 1s;
}
@keyframes open{
    from{ top:262px;}
    to{ top:0;}
}
@keyframes close{
    from{ top:0;}
    to{ top: 262px;}
}*/

.banner_pop .close{
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #c8bba1;
}
.banner_pop ul li{
    width: 300px;
    margin-left: 25px;
    margin-top: 20px;
}
.banner_pop ul li:last-child{
    position: absolute;
    bottom: 25px;
}
.banner_pop strong{
    color: #fff;
}
.banner_pop span{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.banner_pop a{
    color: #c8bba1;
    font-size: 13px;
    font-weight: 700;
}
.banner_pop a .pop_arrow{
    color: #c8bba1;
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
}
.banner_pop a:hover{
    color: #fff;
}
.banner_pop a:hover span{
    color: #fff;
}









/*//////////////////////////////////////////////////*/
