@media screen and (max-width: 1199px){

    header,
    section{
        top:-37px;
        transition: 0.5s;
    }
    .search{
        margin-top: -10px;
    }

    /*모바일 메뉴*/
    nav .mobile_menu{
        display: block;
    }
    nav > ul{
        float: none;
        display: none;
    }
    nav .menu{
        float: none;
        position: relative;
        top: 106px;
        left: 0;
    }
    nav .menu [class^="menu_"]{
        display: block;
        height: 46px;
        line-height: 46px;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background-color: #04142b;
        border-left: none;
        border-right: none;
        border-bottom: 1px #2b3542 solid;
        transition: border-bottom 0.3s;
        transition: color 0.3s;
    }
    nav .menu [class^="menu_"]:hover{
        color: #c8bba1;
    }


    /* 모바일 서브메뉴 */
    [class^="sub_"]{
        position: relative;
        top:0;
        left: 0;
    }
    [class^="sub_"] li{
        width: 100%;
        border-left: none;
        border-right: none;
        overflow: hidden;
    }
    [class^="sub_"] li:first-child{
        border-top:  none;
    }
    [class^="sub_"] li a{
        display: block;
        width: 100%;
    }
    .arrow_sub{
        position: absolute;
        top: 18px;
        left: 95%;
        width: 5px;
        height: 10px;
        background-image: url('../images/menu_arrow.png');
    }
    .depth3{
        position: relative;
        top: 0px;
        left: 0;
    }
    [class^="sub_"] .depth3 li a::before{
        content: "";
        position: relative;
        top: -2px;
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 20px;
        margin-right: 15px;
        border: 1px #2b3542 solid;
    }
    .sub_shortcodes{
        position: relative;
        left: 1px;
        width: 100%;
    }
    .sub_shortcodes li{
        float: none;
        width: 100%;
    }
    .sub_shortcodes li:nth-child(2),
    .sub_shortcodes li:nth-child(3),
    .sub_shortcodes li:nth-child(4){
        border-top: none;
    }





    /*메인 이미지 버튼*/
    [class^="main_bt_"]{
        display: none;
    }


    /*메인 이미지*/
    .main_slide{
        height: 480px;
        transition: 0.5s;
    }
    [class^="slide_"] img{
        width: 100%;
        max-width: 480px;
        transition: 0.5s;
    }

    /*메인이미지 1*/
    .slide_1{
        left: 50%;
    }
    .slide_1_line{
        margin-top: -42px;
        margin-left: -252px;
        width: 500px;
        height: 70px;
        border: 4px #c8bba1 solid;
    }
    .slide_1_title{
        margin-left: -232px;
        margin-top: -42px;
        padding-top: 6px;
        width: 450px;
        height: 71px;
        font-size: 50px;
    }
    .slide_1_title .slide_1_sub{
        font-size: 25px;
        margin-top: -26%
    }
    .slide_1_title .slide_1_sub2{
        bottom: -22px;
        right: 0px;
        font-size: 14px;
    }
    .slide_1_title .slide_1_sub2 .c8bba1{
        font-size: 14px;
    }
    @media screen and (max-width: 875px){
        .main_slide{
            height: 280px;
        }
        [class^="slide_"] img{
            max-width: 280px;
        }
        .slide_1_line{
            margin-top: -22px;
            margin-left: -127px;
            width: 350px;
            height: 40px;
            border: 4px #c8bba1 solid;
        }
        .slide_1_title{
            margin-left: -120px;
            margin-top: -22px;
            width: 250px;
            height: 40px;
            font-size: 28px;
        }
        .slide_1_title .slide_1_sub{
            font-size: 15px;
            margin-top: -26%
        }
        .slide_1_title .slide_1_sub2{
            bottom: -18px;
            right: 0px;
            font-size: 10px;
        }
        .slide_1_title .slide_1_sub2 .c8bba1{
            font-size: 10px;
        }
    }






    /*메인 배너*/
    .main_banner{
        width: 95%;
        margin: 50px auto;
    }
    .main_banner > ul > li{
        width: 31%;
        margin: 0 10px;
    }
    .main_banner > ul > li:last-child{
        margin-right: 0;
    }
    @media screen and (max-width: 875px){
        .main_banner{
            max-width: 875px;
        }
        .main_banner > ul li{
            margin-top: 15px;
            margin-left: 0;
        }
        .main_banner > ul > li{
            position: relative;
            float: none;
            width: 100%;
            max-width: 875px;
            max-height: 262px;
        }
    }





















}
