/*이동 경로*/
.subcont_top{
    position: relative;
    top: 0;
    padding: 30px 0;
    margin-bottom: 140px;
    background-color: #e4f0f3;
}
.subcont_container{
    position: relative;
    top: 0;
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}
.subcont_title span{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    padding: 15px 50px;
    background-color: #c8bba1;
}
.breadcrumb{
    text-align: right;
}
.breadcrumb span{
    font-size: 14px;
    color: #04142b;
    cursor: pointer;
    transition: 0.3s;
}
.breadcrumb span:hover{
    color: #c8bba1;
    transition: 0.3s;
}
.breadcrumb span:before{
    content: '';
    position: relative;
    top: -1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    border: 1px #c8bba1 solid;
}


/*ABOUT US*/
.subcont_aboutus_1{
    overflow: hidden;
}
.subcont_aboutus_1 > ul > li{
    float: left;
    width: 33.33333333%;
}
.subcont_aboutus_1 > ul > li > .wrap{
    width: 90%;
}
.subcont_aboutus_1 > ul > li > .wrap > cite{
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #04142b;
    font-style: normal;
    margin-bottom: 10px;
}
.subcont_aboutus_1 > ul > li > .wrap > span{
    line-height: 24px;
    color: #737373;
}


/*서브메뉴*/
.submemu ul li{
    margin-bottom: 10px;
}
.submemu ul li a{
    display: block;
    font-weight: 500;
    line-height: 24px;
    color: #04142b;
    background-color: #e4f0f3;
    border-left: 2px #e4f0f3 solid;
    padding: 10px 20px;
    transition: 0.3s;
}
.submemu ul li a:hover{
    color: #fff;
    background-color: #c8bba1;
    border-left: 2px #04142b solid;
}


.subcont_aboutus_2{
    position: relative;
    top: 0;
    max-width: 1170px;
    padding: 40px;
    margin-top: 80px;
    background-image: url('../images/bg-3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px #c8bba1 solid;
}
.aboutus_2_title{
    width: 33.33333333%;
    height: 100%;
    margin-left: 66.66666667%;
    transition: 0.5s;
}
.aboutus_2_title h3{
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    color: #04142b;
}

/*메인에 쓴 bt과 상속받음*/
.aboutus_2_title .bt{
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 147px;
    border: 2px #04142b solid;
}
.aboutus_2_title .bt a{
    color: #04142b;
}
.aboutus_2_title .bt:before{
    border-top: 2px #04142b solid;
    border-right: 2px #04142b solid;
}
.aboutus_2_title .bt:after{
    width: 147px;
    border-bottom: 2px #04142b solid;
    border-left: 2px #04142b solid;
}

/*버튼 hover*/
.aboutus_2_title .bt:hover{
    border-color: #c8bba1;
}
.aboutus_2_title .bt a:hover{
    color: #c8bba1;
}
.aboutus_2_title .bt:hover:before,
.aboutus_2_title .bt:hover:after{
    border-color: #c8bba1;
}


.subcont_aboutus_3{
    margin-top: 80px;
    overflow: hidden;
}
.subcont_aboutus_3 ul li{
    float: left;
    width: 33.33333333%;
}
.subcont_aboutus_3 ul li > .wrap{
    width: 90%;
    text-align: center;
}
.bg_04142b{
    background-color: #04142b;
}
.subcont_aboutus_3 ul li > .wrap > .align{
    max-width: 307px;
    margin: 0 auto;
    padding: 40px;
}
.subcont_aboutus_3 ul li > .wrap.bg_04142b > .align > cite{
    font-size: 20px;
    color: #fff;
}
.subcont_aboutus_3 ul li > .wrap.bg_04142b > .align > span{
    color: #fff;
}

.subcont_aboutus_3 ul li > .wrap .bt{
    position: relative;
    top: 0;
    width: 142px;
    margin-left: -75px;
    margin-top: 30px;
}
.subcont_aboutus_3 .bt:after{
    width: 142px;
}

.subcont_aboutus_3 ul li > .wrap cite{
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #04142b;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;
}
.subcont_aboutus_3 ul li > .wrap span{
    display: block;
    line-height: 28px;
    color: #737373;
    text-align: center;
}
.subcont_aboutus_3 ul li > .wrap img{
    border-radius: 50%;
    margin: 15px 0 20px;
}
.subcont_aboutus_3 ul li > .wrap .name{
    margin-top: 30px;
}
.subcont_aboutus_3 ul li > .wrap .name h3{
    text-transform: uppercase;
    line-height: 30px;
}
.subcont_aboutus_3 ul li > .wrap .name h4{
    color: #c8bba1;
    line-height: 30px;
}
.bd_c8bba1{
    border: 1px #c8bba1 solid;
    box-sizing: border-box;
}
.subcont_aboutus_3 ul li:last-child > .wrap{
    position: relative;
    top: 0;
    width: 100%;
    min-height: 335px;
}
.subcont_aboutus_3 ul li:last-child > .wrap > .align{
    padding-bottom: 0;
}
.subcont_aboutus_3 ul li:last-child > .wrap > .align > .star{
    background-image: url('../images/star.png');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    max-width: 205px;
    height: 110px;
    margin: 30px auto 0;
}

/*컨설팅 배너*/
.subcont_aboutus_4{
    position: relative;
    margin: 100px 0;
    height: 100%;
    overflow: hidden;
}
.aboutus_4_banner{
    background-image: url('../images/bg-4.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    height: 240px;
}
.aboutus_4_banner .banner_wrap{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}
.aboutus_4_banner .banner_wrap span{
    position: absolute;
    top: 50%;
    margin-top: -21px;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: #fff;
    z-index: 3;
}
.aboutus_4_banner .banner_wrap .bt{
    top: 100px;
    left: 80%;
    margin-left: 0;
    width: 167px;
    z-index: 3;
}
.aboutus_4_banner .banner_wrap .bt:hover{
    border-color: #c8bba1;
}
.aboutus_4_banner .banner_wrap .bt:after{
    width: 167px;
}


/*MEET THE TEAM*/
.subcont_aboutus_5{
    overflow: hidden;
}
.subcont_aboutus_5 > ul > li{
    float: left;
    width: 33.33333333%;
}
.subcont_aboutus_5 > ul > li > .wrap{
    position: relative;
    top: 0;
    width: 90%;
}
.subcont_aboutus_5 > ul > li > .wrap > img{
    width: 100%;
}
.subcont_aboutus_5 > ul > li > .wrap > cite{
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #04142b;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
}
.subcont_aboutus_5 > ul > li > .wrap > .name{
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    color: #c8bba1;
    margin-bottom: 30px;
}
.subcont_aboutus_5 > ul > li > .wrap > span{
    display: block;
    line-height: 24px;
    color: #737373;
    text-align: center;
}
.subcont_aboutus_5 > ul > li > .wrap .bt{
    position: relative;
    top: 0;
    left: 50%;
    margin-top: 30px;
    margin-left: -80px;
    width: 150px;
    border: 2px #04142b solid;
    margin-bottom: 20px;
}
.subcont_aboutus_5 > ul > li > .wrap .bt a{
    color: #04142b;
}
.subcont_aboutus_5 > ul > li > .wrap .bt:before{
    border-top: 2px #04142b solid;
    border-right: 2px #04142b solid;
}
.subcont_aboutus_5 > ul > li > .wrap .bt:after{
    width: 150px;
    border-bottom: 2px #04142b solid;
    border-left: 2px #04142b solid;
}

.subcont_aboutus_5 > ul > li > .wrap .bt:hover{
    border-color: #c8bba1;
}
.subcont_aboutus_5 > ul > li > .wrap .bt a:hover{
    color: #c8bba1;
}
.subcont_aboutus_5 > ul > li > .wrap .bt:hover:before,
.subcont_aboutus_5 > ul > li > .wrap .bt:hover:after{
    border-color: #c8bba1;
}



/*PROJECTS*/
.subcont_project{
    overflow: hidden;
    height:1000px;
    border: 1px solid #f00;
}
.subcont_project > ul > li{
    position: absolute;
    float: left;
    width: 33.33333333%;
    overflow: hidden;
    transition: 300ms;
}
.subcont_project > ul > li .view{
    position: absolute;
    top: 0;
    left: -30px;
    right: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    background-color: rgba(4, 20, 43, 0.9);
    margin: 30px 30px 30px 0;
    transition: 0.3s;
}
.subcont_project > ul > li:hover .view{
    width: 100%;
    opacity: 1;
}
.subcont_project > ul > li .view a{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    font-weight: 700;
    color: #c8bba1;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    /*현재 녀석의 기준점을 기준으로 이동*/
    -ms-transform: translate(-50%, -50%);
    transition: 0.3s;
}
.subcont_project > ul > li .view a:hover{
    color: #fff;
}
.subcont_project > ul > li .view a .flaticon-arrows::before{
    font-size: 13px;
    color: #c8bba1;
    margin-left: 10px;
    transition: 0.3s;
}
.subcont_project > ul > li .view a:hover .flaticon-arrows::before{
    color: #fff;
}
.subcont_project > ul > li > img{
    width: 100%;
    vertical-align: top;
}
.subcont_project_btn{
    position: absolute;
    bottom: 0;
}



/*NEWS*/
[class^="subcont_news_"]{
    float: left;
}
.subcont_news_1{
    width: 75%;
    transition: 0.5s;
}
.subcont_news_1 .wrap{
    width: 97%;
}
.subcont_news_1 .wrap > ul > li{
    margin-bottom: 80px;
}
.subcont_news_1 .wrap > ul > li > .news_box{
    max-width: 100%;
}
.subcont_news_1 .wrap > ul > li > .news_box > .folder{
    display: inline-block;
}
.subcont_news_1 .wrap > ul > li > .news_box > .folder:after{
    content: '/';
    color: #c8bba1;
    padding: 0 15px;
}
.subcont_news_1 .wrap > ul > li > .news_box > .folder > object{
    position: relative;
    top: 3px;
    width: 18px;
    margin-right: 20px;
}


.subcont_news_2{
    width: 25%;
    transition: 0.5s;
}


/*NEWS 서브메뉴*/
.subcont_news_2 > ul > li > .submemu > ul > li > a{
    border-left: 3px #e4f0f3 solid;
    font-weight: normal;
}
.subcont_news_2 > ul > li > .submemu > ul > li > a:hover{
    background-color: #2b3542;
    border-left: 3px #c8bba1 solid;
}

.subcont_news_2 > ul > li > .submemu > ul > li > a:before{
    content: "";
    position: relative;
    top: -2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 15px;
    border: 1px #2b3542 solid;
    transition: 0.5s;
}
.subcont_news_2 > ul > li > .submemu > ul > li > a:hover:before{
    border: 1px #fff solid;
}

/*NEWS search*/
.subcont_news_2 > ul > li > .search{
    margin-top: 50px;
    max-width:100%;
    height: 52px;
    line-height: 52px;
    background-color: #e4f0f3;
    border: 2px #e4f0f3 solid;
    border-left: 2px #2b3542 solid;
}
.subcont_news_2 > ul > li > .search input[type="search"]{
    border: 0;
    background-color: #e4f0f3;
    color: #04142b;
    width: 80%;
    height: 37px;
    font-size: 15px;
    outline: none;
}
.subcont_news_2 > ul > li > .search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #737373;
    font-style: italic;
}
.subcont_news_2 > ul > li > .search input::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #737373;
    font-style: italic;
}
.subcont_news_2 > ul > li > .search input:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #737373;
    font-style: italic;
}
.subcont_news_2 > ul > li > .search input[type="submit"]{
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-color: #e4f0f3;
    background-image: url('../images/search.png');
    border: none;
    cursor: pointer;
}


/*NEWS new_form*/
[class^="news_"] cite{
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    color: #04142b;
    margin-top: 50px;
    margin-bottom: 20px;
}
.news_latest ul li{
    position: relative;
    top: 0;
    margin-bottom: 25px;
}
.news_latest ul li:last-child{
    margin-bottom: 0;
}
.news_latest_cont{
    position: absolute;
    top: 0;
    left: 70px;
}
.news_latest_cont a{
    font-size: 12px;
    color: #6f7b8a;
    transition: 0.3s;
}
.news_latest_cont a .flaticon-clock:before{
    color: #c8bba1;
}
.news_latest_cont span{
    display: block;
    margin-top: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #04142b;
    cursor: pointer;
    transition: 0.3s;
}
.news_latest_cont span:hover{
    color: #c8bba1;
}


/*NEWS news_cloud*/
.news_cloud a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 5px 5px 5px 0;
    background-color: #e4f0f3;
    color: #04142b;
    font-size: 13px;
    transition: 0.3s;
}
.news_cloud a:hover{
    background-color: #c8bba1;
    color: #fff;
}


/*NEWS news_gallery*/
.news_gallery a{
    display: inline-block;
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.news_gallery a img{
    width: 100%;
}


/*NEWS news_widget*/
.news_widget{
    margin-bottom: 50px;
}
.news_widget_line{
    border-left: 2px #c8bba1 solid;
    padding-left: 15px;
}
.news_widget_line span{
    display: block;
    line-height: 24px;
    color: #737373;
}
.news_widget_line span strong{
    display: block;
    margin-bottom: 25px;
}


.subcont_news_3{
    width: 100%;
}


/*서브 번호 버튼*/
.subcont_num_btn{
    overflow: hidden;
}
.subcont_num_btn a{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #e4f0f3;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #04142b;
    margin-right: 5px;
    transition: 0.3s;
}
.subcont_num_btn a:first-child{
    background-color: #04142b;
    color: #e4f0f3;
}
.subcont_num_btn a:hover{
    background-color: #04142b;
    color: #e4f0f3;
}



/*CONTACT*/
.subcont_contact_1{
    overflow: hidden;
}
.subcont_contact_1 ul li{
    float: left;
    width: 32%;
    margin-right: 2%;
}
.subcont_contact_1 ul li:last-child{
    margin-right: 0;
}
.subcont_contact_1 ul li > .contact_1 > cite{
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    color: #04142b;
    margin-bottom: 30px
}
.subcont_contact_1 ul li > .contact_1 span{
    display: block;
    line-height: 24px;
    color: #737373;
}
.subcont_contact_1 ul li > .contact_1 > .address{
    margin-top: 30px;
}
.subcont_contact_1 ul li > .contact_1 > .address > span{
    margin-bottom: 15px;
}
.icon_btn{
    margin-top: 30px;
}
.icon_btn a{
    display: inline-block;
    margin-right: 5px;
    background-color: #e4f0f3;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    transition: 0.3s;
}
.icon_btn a [class^="flaticon-"]:before{
    font-size: 16px;
    color: #04142b;
    margin-left: 0;
    transition: 0.3s;
}
.icon_btn a:hover [class^="flaticon-"]:before{
    color: #fff;
}
.icon_btn a:nth-child(1):hover{
    background-color: #d73532;
}
.icon_btn a:nth-child(2):hover{
    background-color: #018faf;
}
.icon_btn a:nth-child(3):hover{
    background-color: #82685a;
}
.icon_btn a:nth-child(4):hover{
    background-color: #0e59a0;
}
.icon_btn a:nth-child(5):hover{
    background-color: #0ea4ff;
}
.contact_2{
    position: relative;
    top: 0;
}
.icon_contact{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #c8bba1;
    line-height: 60px;
    text-align: center;
}
.icon_contact > [class^="flaticon-"]:before{
    font-size: 18px;
    margin-right: 0;
    color: #fff;
}
.contact_2 img{
    width: 100%;
    max-height: 340px;
}
.subcont_contact_1 ul li > .wrap > .align{
    max-width: 280px;
    margin: 0 auto;
    padding: 40px;
}
.subcont_contact_1 ul li > .wrap > .align > cite{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    font-style: normal;
}
.subcont_contact_1 ul li > .wrap > .align > span{
    display: block;
    line-height: 28px;
    color: #fff;
}
.subcont_contact_1 ul li > .wrap > .align > .contact_text1{
    display: block;
    font-weight: 700;
    line-height: 28px;
    color: #c8bba1;
}
.subcont_contact_1 ul li > .wrap > .align > .contact_text2{
    display: block;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0;
}
.subcont_contact_1 ul li > .wrap > .align > .contact_text2 .c8bba1{
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    color: #c8bba1;
}



























/*/////////////////////////////////////////////*/
