/*이동 경로*/
.subcont_top{
    position: relative;
    top: 0;
    padding: 30px 0;
    margin-bottom: 140px;
    background-color: #e4f0f3;
}
.subcont_container{
    position: relative;
    top: 0;
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}
.subcont_title span{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    padding: 15px 50px;
    background-color: #c8bba1;
}
.breadcrumb{
    text-align: right;
}
.breadcrumb span{
    font-size: 14px;
    color: #04142b;
}
.breadcrumb span:before{
    content: '';
    position: relative;
    top: -1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    border: 1px #c8bba1 solid;
}


/*ABOUT US*/
.subcont_aboutus_1{
    overflow: hidden;
}
.subcont_aboutus_1 > ul > li{
    float: left;
    width: 33.33333333%;
}
.subcont_aboutus_1 > ul > li > .wrap{
    width: 90%;
}
.subcont_aboutus_1 > ul > li > .wrap > cite{
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #04142b;
    font-style: normal;
    margin-bottom: 10px;
}
.subcont_aboutus_1 > ul > li > .wrap > span{
    line-height: 24px;
    color: #737373;
}


/*서브메뉴*/
.submemu ul li{
    margin-bottom: 10px;
}
.submemu ul li a{
    display: block;
    font-weight: 500;
    line-height: 24px;
    color: #04142b;
    background-color: #e4f0f3;
    border-left: 2px #e4f0f3 solid;
    padding: 10px 20px;
    transition: 0.3s;
}
.submemu ul li a:hover{
    color: #fff;
    background-color: #c8bba1;
    border-left: 2px #04142b solid;
}


.subcont_aboutus_2{
    width: 100%;
    height: 400px;
    margin-top: 80px;
    background-image: url('../images/bg-3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px #c8bba1 solid;
}














/*/////////////////////////////////////////////*/
